flowsProto.json
[{"id":"67a9d07f.f85d08","type":"decode","z":"f6f2187d.f17ca8","name":"protobuf decoder","protofile":"e759e205.80db5","protoType":"nodeRed","x":450,"y":280,"wires":[["63106dd3.27868c","4b515a99.564bb4"]]},{"id":"9bb70cb4.f1164","type":"ui_gauge","z":"f6f2187d.f17ca8","name":"","group":"f1156445.b1f3f8","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"C","format":"{{t}}ºC","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"15","seg2":"30","x":970,"y":260,"wires":[]},{"id":"8acb956e.939a78","type":"mqtt in","z":"f6f2187d.f17ca8","name":"broker mqtt","topic":"g5/nodered","qos":"2","datatype":"buffer","broker":"21125269.50b1a6","x":210,"y":220,"wires":[["67a9d07f.f85d08"]]},{"id":"63106dd3.27868c","type":"function","z":"f6f2187d.f17ca8","name":"","func":"var t = { payload: msg.payload.temperatura };\nvar h = { payload: msg.payload.humedad };\nvar hs = { payload: msg.payload.humedadSuelo };\nvar f = { payload: msg.payload.fotoreceptor };\nreturn [t,h,hs,f];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":280,"wires":[["9bb70cb4.f1164","9ade82a4.f67e4","b9286f99.126ef","42dda8df.35d0f8"]]},{"id":"4b515a99.564bb4","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":500,"wires":[]},{"id":"9ade82a4.f67e4","type":"ui_gauge","z":"f6f2187d.f17ca8","name":"","group":"f1156445.b1f3f8","order":0,"width":0,"height":0,"gtype":"gage","title":"Humedad","label":"%","format":"{{h}}%","min":0,"max":"100","colors":["#b51c00","#e6e600","#6bff06"],"seg1":"25","seg2":"75","x":960,"y":320,"wires":[]},{"id":"b9286f99.126ef","type":"ui_gauge","z":"f6f2187d.f17ca8","name":"","group":"f1156445.b1f3f8","order":0,"width":0,"height":0,"gtype":"gage","title":"Humedad del suelo","label":"%","format":"{{hs}}%","min":0,"max":"100","colors":["#b52000","#e6e600","#6bff06"],"seg1":"","seg2":"","x":990,"y":380,"wires":[]},{"id":"42dda8df.35d0f8","type":"ui_gauge","z":"f6f2187d.f17ca8","name":"","group":"f1156445.b1f3f8","order":0,"width":0,"height":0,"gtype":"gage","title":"Fotoreceptor","label":"K","format":"{{f}}K","min":0,"max":"4050","colors":["#161019","#696969","#ffffff"],"seg1":"","seg2":"","x":970,"y":440,"wires":[]},{"id":"e759e205.80db5","type":"protobuf-file","protopath":"/data/nodeRed.proto","watchFile":true},{"id":"f1156445.b1f3f8","type":"ui_group","name":"HTTP","tab":"9a94db7f.b41448","order":1,"disp":true,"width":"6","collapse":false},{"id":"21125269.50b1a6","type":"mqtt-broker","name":"","broker":"192.168.140.178","port":"2883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9a94db7f.b41448","type":"ui_tab","name":"DHT11","icon":"dashboard","disabled":false,"hidden":false}]