flows.json
[{"id":"1ffe6c2b.8e2eac","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d2382695.2aa59","type":"mqtt in","z":"1ffe6c2b.8e2eac","name":"subscriber","topic":"g5/nodered","qos":"2","datatype":"auto","broker":"e01ba87.e9483d8","x":250,"y":160,"wires":[["bc8c2955.38545"]]},{"id":"bc8c2955.38545","type":"json","z":"1ffe6c2b.8e2eac","name":"","property":"payload","action":"","pretty":false,"x":440,"y":240,"wires":[["4ba8f337.4ea8ec","5330ec0.54e9014"]]},{"id":"4ba8f337.4ea8ec","type":"function","z":"1ffe6c2b.8e2eac","name":"function","func":"\nvar t = {payload:msg.payload.temperatura};\nvar h = {payload:msg.payload.humedad};\nvar hs = {payload:msg.payload.humedadSuelo};\nvar f = {payload:msg.payload.fotoreceptor};\n\nreturn [t,h,hs,f];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":260,"wires":[["9bb70cb4.f1164","f7067eef.2c02a8","e04456f3.a5277","2434ce5c.a4a83a"]]},{"id":"9bb70cb4.f1164","type":"ui_gauge","z":"1ffe6c2b.8e2eac","name":"","group":"f1156445.b1f3f8","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"C","format":"{{t}}ºC","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"15","seg2":"30","x":940,"y":200,"wires":[]},{"id":"5330ec0.54e9014","type":"debug","z":"1ffe6c2b.8e2eac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":440,"wires":[]},{"id":"f7067eef.2c02a8","type":"ui_gauge","z":"1ffe6c2b.8e2eac","name":"Humedad","group":"f1156445.b1f3f8","order":0,"width":0,"height":0,"gtype":"gage","title":"Humedad","label":"%","format":"{{h}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":920,"y":280,"wires":[]},{"id":"e04456f3.a5277","type":"ui_gauge","z":"1ffe6c2b.8e2eac","name":"Humedad del suelo","group":"f1156445.b1f3f8","order":0,"width":0,"height":0,"gtype":"gage","title":"Humedad del suelo","label":"%","format":"{{hs}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":950,"y":340,"wires":[]},{"id":"2434ce5c.a4a83a","type":"ui_gauge","z":"1ffe6c2b.8e2eac","name":"Sensor fotoreceptor","group":"f1156445.b1f3f8","order":0,"width":0,"height":0,"gtype":"gage","title":"Fotoreceptor","label":"Lux","format":"{{f}}Lux","min":0,"max":"4500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":950,"y":400,"wires":[]},{"id":"e01ba87.e9483d8","type":"mqtt-broker","name":"Broker","broker":"192.168.43.78","port":"2883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f1156445.b1f3f8","type":"ui_group","name":"HTTP","tab":"9a94db7f.b41448","order":1,"disp":true,"width":"6","collapse":false},{"id":"9a94db7f.b41448","type":"ui_tab","name":"DHT11","icon":"dashboard","disabled":false,"hidden":false}]