mqtt_clase.json
[{"id":"4c6d9e42.920b78","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d21fdbda.72efa","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e44a1686.78eb6","type":"ui_tab","z":"","name":"DHT11","icon":"dashboard","disabled":false,"hidden":false},{"id":"1d60222e.4c0416","type":"ui_group","z":"","name":"Home","tab":"e44a1686.78eb6","order":1,"disp":true,"width":"6","collapse":false},{"id":"f381aa47.8d6f8","type":"mqtt-broker","z":"","name":"JulianBroker","broker":"192.168.3.101","port":"2883","clientid":"albertoClient1","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b9a9b51e.a30e68","type":"json","z":"4c6d9e42.920b78","name":"","property":"payload","action":"obj","pretty":false,"x":350,"y":380,"wires":[["d5012f3d.5a176"]]},{"id":"62d25be1.446354","type":"mqtt in","z":"4c6d9e42.920b78","name":"","topic":"esi/master/avm","qos":"2","datatype":"json","broker":"f381aa47.8d6f8","x":180,"y":380,"wires":[["b9a9b51e.a30e68"]]},{"id":"d5012f3d.5a176","type":"function","z":"4c6d9e42.920b78","name":"","func":"var t = { payload: msg.payload.temperature }\nvar h = { payload: msg.payload.humidity }\nreturn [t, h];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":500,"y":380,"wires":[["39003004.b04fd"],["fce19e59.441aa8"]]},{"id":"39003004.b04fd","type":"ui_gauge","z":"4c6d9e42.920b78","name":"","group":"1d60222e.4c0416","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"ºC","format":"{{value}}","min":"-40","max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":360,"wires":[]},{"id":"fce19e59.441aa8","type":"ui_gauge","z":"4c6d9e42.920b78","name":"","group":"1d60222e.4c0416","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":400,"wires":[]}]